.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 420px;
  height: 384px;
  padding: 33px 36px 60px;
}

.formHeader {
  margin: 0 0 51px;
}

.createNewPassword {
  margin-top: 19px;
  margin-bottom: 41px;
  color: var(--color-light-900);
  opacity: 0.5;
}