.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 420px;
  height: 528px;
  padding: 33px 36px 29px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.forgotPassword {
  margin: 6px 9px 66px 0;
  text-align: right;
}

.confirmButton {
  display: flex;
  align-items: center;
}

.dontHaveAcc {
  color: var(--color-light-900);
}

.signUp {
  text-decoration-line: underline;
}
